body {
  margin: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

#message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 5em;
  padding: 1em;
  text-align: center;
  color: #fff;
  animation-name: slide;
  animation-duration: 1s;
  background-color: #03a803;
  z-index: 1;
}

@keyframes slide {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#message>strong {
  font-size: 1.2em;
  margin-right: 2em;
}

.message-btn {
  width: 4em;
  height: 2em;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5em;
  background-color: #fff;
  padding: 1.5em 0 0.7em 0;
  border: 1px solid #DBDBDB;
  z-index: 1;
}

.logo {
  margin-left: 14em;
}

.search-input {
  margin-left: 18em;
  width: 15em;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  padding: 0.2em 1.5em;
  border-radius: 0.2em;
}

.search-input::placeholder {
  text-align: center;
}

.nav-links {
  margin-left: 18em;
}

.nav-links i {
  transform: scale(1.6);
}

.nav-links>a {
  color: #000000;
  margin: 1em;
}

.content {
  margin: 0 12em 0 12em;
}
