@import './Modules/profile/BioForm.css';

body {
  margin: 0;
  background-color: #FAFAFA;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 1em 0 0.7em 0;
  border: 1px solid #DBDBDB;
  z-index: 1;
}

.logo {
  margin-left: 14em;
}

.search-input {
  margin-left: 18em;
  width: 15em;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  padding: 0.2em 1.5em;
  border-radius: 0.2em;
}

.search-input::placeholder {
  text-align: center;
}

.nav-links {
  margin-left: 18em;
}

.nav-links i {
  transform: scale(1.6);
}

.nav-links>a {
  color: #000000;
  margin: 1em;
}

.content {
  margin: 0 12em 0 12em;
}

.add-photo {
  position: fixed;
  right: 3em;
  font-size: 2em;
}

#addPhoto {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em 0em;
  margin: 4em 0 5em 0;
}

.gallery-nav {
  border-bottom: 1px solid #DBDBDB;
}

.item {
  margin-left: 2em;
  height: 20em;
  width: 22em;
  background: #000000;
}

.item>img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.item>img:hover {
  opacity: 0.7;
}

@media screen and (max-width: 425px) {
  .nav {
    padding: 2em 0 1.5em 0;
  }

  .logo {
    margin-left: 4em;
  }

  .nav-links i {
    transform: scale(2);
  }

  .gallery-nav {
    display: none;
  }

  .profile-photo>img {
    height: 20em;
    width: 20em;
  }
  
  .profile-info {
    margin-top: 3em;
    margin-left: 3em;
  }
  
  .bio-name {
    font-size: 2em;
  }

  .search-input {
    display: none;
  }
  
  .nav-links {
    margin-left: 5em;
  }
  
  .content {
    margin: 0;
  }
}