@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import './Modules/profile/BioForm.css';
@import './Modules/nav/nav.css';
@import './Modules/gallery/gallery.css';

@media screen and (max-width: 425px) {
  .nav {
    height: 8em;
    padding: 3em 0 0.7em 0;
  }

  .logo {
    margin-left: 7em;
  }

  .logo>img {
    transform: scale(2);
  }

  .search-input {
   display: none;
  }

  .nav-links i {
    transform: scale(3);
    margin-left: 3.5em;
  }

  .profile {
    margin-top: 4em;
  }

  .profile-photo>img {
    height: 15em;
    width: 15em;
  }
  
  #profilePhoto {
    height: 15em; 
    width: 15em;
  }
  
  .bio-info {
    margin: 1em 0 0 2em;
    font-size: 2em;
  }
  
  .content {
    margin: 0em;
  }

  #editPhotoButton {
    position: relative;
    left: 2.5em;
    bottom: 9em;
    padding: 0.9em;
    width: 10em;
  }

  .bio-form {
    left: 27em;
  }

  .gallery-nav {
    display: none;
  }

  .gallery {
    grid-gap: 0.5em;
  }
  
  .photo-container {
    width: 20em;
  }

  .edit-text {
    font-size: 1.5em;
  }
  
  .delete-photoBtn {
    margin-left: 6em;
    transform: scale(2);
  }

  #aboutPhoto {
    font-size: 2em;
  }

  #userPostButton {
    font-size: 1.2em;
    margin: 0 2em 1.3em 1.3em;
  }

  .add-photo {
    top: 7em;
  }

  .post-options {
    font-size: 1.2em;
  }

  #photoIcon {
    margin-left: 2em;
  } 

  .edit-text-modal {
    font-size: 1.5em;
  }

  .create-post-modal {
    left: 3.5em;
    font-size: 1.5em;
  }
}
