.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60em;
  height: 25em;
  padding: 6em 17em 0 0;
}

.profile-photo>img {
  object-fit: cover;
  height: 12em;
  width: 12em;
  border-radius: 50%;
  margin: 1em 0 0 5em;
}

.bio-info {
  margin-top: 2em;
  font-size: 1.2em;
}

.bio-name {
  font-size: 1.3em;
}

.bio-button {
  background-color: #0095F6;
  border: unset;
  color: #ffffff;
  padding: 0.2em 1.2em;
  box-shadow:  0 0 4px 0 #000000;
  cursor: pointer;
  margin-top: 0.5em;
}

.bio-form {
  display: none;
  position: absolute;
  left: 33em;
  width: 25em;
  height: 15em;
  background-color: #fff;
  box-shadow:  0 0 8px 0 #000000;
}

.bio-form>input {
  width: 17em;
  height: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 3em;
}

.bio-form>button {
  background-color: #0095F6;
  border: unset;
  color: #ffffff;
  padding: 0.2em 1.2em;
  margin-left: 3em;
  height: 2.5em;
  width: 7em;
  cursor: pointer;
  box-shadow:  0 0 8px 0 #000000;
}

.profile button:active {
  transform: translateY(4px);
}
